<footer>

    <div class="newsletter">
        <h2 class="newsletter-header">Join Our Newsletter</h2>
        <input type="email" class="newsletter-form" placeholder="Enter your email address here">
    </div>

    <div class="social-media">
        <ul>
            <li>Tiktok</li>
            <li>Instagram</li>
            <li>Facebook</li>
            <li>X</li>
            <li> Pinterest</li>
            <li>Youtube</li>
            <li>Spotify</li>
        </ul>
    </div>

    <div class="footer-body">

        <div class="help">
            <b>Help</b>
            <ul>
                <li><a href="https://example.com/my-zara-account">My Zara Account</a></li>
                <li><a href="https://example.com/items-and-sizes">Items and Sizes</a></li>
                <li><a href="https://example.com/shipping">Shipping</a></li>
                <li><a href="https://example.com/payment-invoices">Payment and Invoices</a></li>
                <li><a href="https://example.com/my-purchases">My purchases</a></li>
                <li><a href="https://example.com/exchanges-returns-refunds">Exchanges, returns and refunds</a></li>
                <li><a href="https://example.com/zara-experiences">Zara Experiences</a></li>
            </ul>
        </div>

        <div class="follow-us">
            <b>Follow Us</b>
            <ul>
                <li><a href="https://example.com/newsletter">Newsletter</a></li>
                <li><a href="https://www.tiktok.com">Tiktok</a></li>
                <li><a href="https://www.instagram.com">Instagram</a></li>
                <li><a href="https://www.facebook.com">Facebook</a></li>
                <li><a href="https://twitter.com">X</a></li>
                <li><a href="https://www.pinterest.com">Pinterest</a></li>
                <li><a href="https://www.youtube.com">Youtube</a></li>
            </ul>
        </div>

        <div class="company">
            <b>Company</b>
            <ul>
                <li><a href="https://example.com/about-us">About Us</a></li>
                <li><a href="https://example.com/join-life">Join Life</a></li>
                <li><a href="https://example.com/offices">Offices</a></li>
                <li><a href="https://example.com/stores">Stores</a></li>
            </ul>
        </div>

        <div class="policy">
            <b>Policy</b>
            <ul>
                <li><a href="https://example.com/privacy-policy">Privacy Policy</a></li>
                <li><a href="https://example.com/purchase-conditions">Purchase Conditions</a></li>
                <li><a href="https://example.com/cookie-settings">Cookie Settings</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="copyright">
            <span>Egypt</span>
            <div>
                <span>عربي | English</span>
                <span>&#64; All Rights Reserved</span>
            </div>
        </div>
    </div>

</footer>