<div class="modal-overlay" *ngIf="isOpen" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="color-options-container">
        <div *ngFor="let color of colors" class="color-option" 
             (click)="toggleColorSelection(color.hsl)">
          <div [ngStyle]="{'background-color': color.hsl}" 
               class="color-square" 
               [ngClass]="{'selected': selectedColors.includes(color.hsl)}"></div>
          <span class="color-name">{{ color.name }}</span>
        </div>
      </div>
      <div class="modal-buttons">
        <button (click)="clearSelection()" [disabled]="selectedColors.length === 0">CLEAR</button>
        <button (click)="viewResults()">VIEW RESULTS</button>
      </div>
    </div>
</div>
