.PostionContainer {
    margin: 180px 155px;
    display: flex;
    max-width: 1180px;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-in-out;
  
  }
  .ListContainer {
    width: calc((calc((1180px - (20px * 11)) / 12) * 6) + (20px * 5));
    display: block;
    border: 0.8px solid rgb(0, 0, 0);
    padding: 4px 0px;
    list-style-type: none;
  }
  .ItemLI {
    padding: 16px 0px;
    display: block;
  }
  .LinkStyle {
    box-sizing: border-box;
    padding: 0px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: left;
    text-decoration: none;
  }
  .ContainerText {
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
  .Text {
    line-height: 16px;
    font-family:inherit;
    font-size: 11px;
    color: black;
  }
  .FavouritesStyle {
    align-items: center;
    display: flex;
    gap: 4px;
  }
  .StyleWishlishtIcon {
    height: 16px;
    width: 16px;
    display: block;
    fill: rgb(0, 0, 0);
    box-sizing: border-box;
  }
  .Arrowstyle {
    box-sizing: border-box;
    fill: rgb(0, 0, 0);
    height: 20px;
    width: 20px;
  }
  .styleListResponsive {
      border-bottom: 0.8px solid rgb(0, 0, 0);
      font-size: 13px;
      margin-top: 170px;
      padding: 0px;
      list-style-type: none;
      display: none;
    }
    .StyleWishlishtIconRespon {
      height: 12px;
      width: 24px;
      padding-left: 5px;
      display: inline;
      fill: rgb(0, 0, 0);
      box-sizing: border-box;
  }
  @media (max-width: 1400px) {
      .PostionContainer {
          margin: 180px 155px;
          max-width: 1180px;
      }
  }
  @media (max-width: 1350px) {
      .PostionContainer {
        margin: 170px 140px;
        max-width: 1165px;
      }
  }@media (max-width: 1300px) {
      .PostionContainer {
        margin: 160px 130px;
        max-width: 1145px;
      }
  }
  @media (max-width: 1200px) {
      .PostionContainer {
        margin: 150px 120px;
        max-width: 1130px;
      }
  }
    
    @media (max-width: 1150px) {
      .PostionContainer {
        margin: 148px 110px;
        max-width: 850px;
      }
    }
    
    @media (max-width: 1100px) {
      .PostionContainer {
        margin: 135px 90px;
        max-width: 750px;
      }
    }
    
    @media (max-width: 1050px) {
      .PostionContainer {
        margin: 125px 85px;
        max-width: 650px;
      }
    }
    
    @media (max-width: 1000px) {
      .PostionContainer {
        margin: 115px 65px;
        max-width: 500px;
      }
    }
    
    @media (max-width: 950px) {
      .PostionContainer {
        margin: 105px 85px;
        max-width: 480px;
      }
    }
    
    @media (max-width: 900px) {
      .PostionContainer {
        margin: 95px 85px;
        max-width: 430px;
      }
    }
    
    @media (max-width: 850px) {
      .PostionContainer {
        margin: 105px 75px;
        max-width: 400px;
      }
    }
    
    @media (max-width: 800px) {
      .PostionContainer {
        margin: 135px 55px;
        max-width: 350px;
      }
    }
  
  @media (max-width: 768px) {
      .PostionContainer {
       display: none;
      }
      .ItemLI{
          border-top: 0.8px solid rgb(0, 0, 0);   
          padding: 20px 20px;
      }
      .styleListResponsive{
          display: block;
      }
      
    }
    