<div class="modal" [class.active]="isAddressModalOpen">
    <div class="modal-content">

        <div class="header">
            <span class="close-btn" (click)="closeModal()"><svg width="24" height="24" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"
                    style="box-sizing:border-box;fill:rgb(0, 0, 0);">
                    <path
                        d="M12 12.707l6.846 6.846.708-.707L12.707 12l6.847-6.846-.707-.708L12 11.293 5.154 4.446l-.707.708L11.293 12l-6.846 6.846.707.707L12 12.707z"
                        style="box-sizing:border-box;"></path>
                </svg></span>
            <h2>Select a delivery location</h2>
        </div>

        <div class="address-list">
            <div *ngFor="let address of addresses" class="address-item">
                <p>{{ address.street }}</p>
                <p *ngIf="address.area">{{ address.area }}</p> 
                <p>{{ address.city }}</p>
                <p>{{ address.state }}</p>
                <p>{{ address.country }}</p>
                <p>{{ address.phoneNumber }}</p>
                
                <!-- Add some logic to show if the address is active -->
                <span *ngIf="address.active" class="active-label">Active</span>
            
                <a class="edit-btn" (click)="navigateToUpdateAddress(address)">Edit</a>
            </div>
        </div>

        <button class="add-address-btn" (click)="navigateToCreateAddress()">Add new home address</button>
    </div>
</div>