/* Modal container hidden by default */
.modal {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30vw;
    height: 100vh;
    background-color: white;
    transition: right 0.5s ease-in-out;
    z-index: 1000;
    border-left: 1px solid black;
    padding: 1em 0;
}

.modal-content {
    width: 400px;  /* Set modal width */
    max-height: 100vh; /* Set a maximum height */
    padding-bottom: 30px; /* Padding to make space for the fixed button */
    overflow-y: auto; /* Enable scroll for overflow content */
}

.header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 0 1.5em;
}

.header h2 {
    margin: 2em 0;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
}

/* Close button */
.close-btn {
    font-size: 30px;
    align-self: flex-end;
    cursor: pointer;
}

.addresses-list {
    padding: 16px;
    max-height: calc(80vh - 120px); /* Keep addresses list responsive */
    overflow-y: auto; /* Ensure vertical scrolling for address list */
}

.address-item {
    margin: 1em 0;
    padding: 0 1.5em;
    border-bottom: 1px solid black;
}

.address-item p {
    margin: 0;
    margin-bottom: 2px;
    font-size: 11px;
}

.edit-btn {
    display: inline-block;
    margin-bottom: 1.5em;
    text-decoration: underline;
    font-size: 10px;
    cursor: pointer;

}

.add-address-btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 1em;
    margin: 2em 0;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: none;
    font-family: inherit;
    font-size: 12px;
    text-transform: uppercase;
}

.add-address-btn:focus {
    outline: none;
}

.add-address-btn:hover {
    color: gray;
    font-size: 12px;
}

.active-label {
    font-size: 11px;
    display: block;
    width: fit-content;
    padding: 3px 3px 0px 3px;
    border: 1px solid black;
}


/* When modal is active (visible), slide it from the right */
.modal.active {
    right: 0;
}