<div class="modal" [class.active]="isAddressModalOpen">
    <div class="modal-content">

        <div class="header">
            <span class="close-btn" (click)="closeModal()"><svg width="24" height="24" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit"
                    style="box-sizing:border-box;fill:rgb(0, 0, 0);">
                    <path
                        d="M12 12.707l6.846 6.846.708-.707L12.707 12l6.847-6.846-.707-.708L12 11.293 5.154 4.446l-.707.708L11.293 12l-6.846 6.846.707.707L12 12.707z"
                        style="box-sizing:border-box;"></path>
                </svg></span>
            <h2>Select a delivery location</h2>
        </div>

        <div class="body">
            <p>Ahmed Eid</p>
            <p>Taba street</p>
            <p>From Koliet Adab street</p>
            <p>Al-Mansoura</p>
            <p>Dakahlia</p>
            <p>Egypt</p>
            <p>+20 01116172997</p>
            <a class="edit-btn">Edit</a>
        </div>

        <button class="add-address-btn">Add new home address</button>
    </div>
</div>