<app-header></app-header>

<div class="grid-container">

    <div class="column col-1">
        <div class="composition-care" [class.scrollable]="isExpanded">
            <div class="content">
                <p>COMPOSITION & CARE</p>
                <p>COMPOSITION</p>
                <p>
                    We work with monitoring programmes to ensure compliance with our social,
                    environmental and health and safety standards for our products. To assess
                    compliance, we have developed a...
                </p>
                <div *ngIf="isExpanded">
                    <p>
                        additional text that would be revealed once the button is clicked. You can
                        continue to add more content as needed, and this content will become scrollable
                        once the button is clicked, allowing users to view all the information.
                    </p>
                    <p>
                        additional text that would be revealed once the button is clicked. You can
                        continue to add more content as needed, and this content will become scrollable
                        once the button is clicked, allowing users to view all the information.
                    </p>
                    <p>
                        additional text that would be revealed once the button is clicked. You can
                        continue to add more content as needed, and this content will become scrollable
                        once the button is clicked, allowing users to view all the information.
                    </p>
                    <p>
                        additional text that would be revealed once the button is clicked. You can
                        continue to add more content as needed, and this content will become scrollable
                        once the button is clicked, allowing users to view all the information.
                    </p>
                </div>
                <div>
                    <button *ngIf="!isExpanded" (click)="toggleContent()" class="view-more-btn">View More</button>
                    <button *ngIf="isExpanded" (click)="toggleContent()" class="view-less-btn">View Less</button>
                </div>
            </div>
        </div>
    </div>

    <div class="column col-2">
        <div class="gallery-container">
            <div class="vertical-gallery-container" #scrollGallery (scroll)="onScroll()">
                <div class="vertical-gallery" #scrollGallery>
                    <img *ngFor="let image of filteredImages; let i = index" [src]="image.imageUrl" alt="Product Image"
                        class="gallery-item" [class.active]="activeIndex === i" (click)="setActiveImage(i)" />
                </div>
            </div>

            <div class="thumbnail-container">
                <img *ngFor="let image of filteredImages; let i = index" [src]="image.imageUrl" alt="Thumbnail"
                    class="thumbnail" [class.selected]="activeIndex === i" (click)="setActiveImage(i)" />
            </div>
        </div>
    </div>

    <div class="column col-3">
        <div class="item-details-container">
            <div class="item-info">
                <div class="item-header">
                    <p class="item-name">{{mainProduct?.name}}</p>
                    <i class="bookmark-icon" (click)="toggleBookmark()"
                        [ngClass]="isBookmarked ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark'"></i>
                </div>
                <p class="item-price">{{mainProduct?.price}} EGP</p>
                <p class="item-description">{{mainProduct?.description}}</p>
                <!-- <a href="" class="item-availability" (click)="openStoreSizesModal($event)">Check in-store
                    availability</a><br>
                <a href="" class="item-extra-info">SHIPPING, EXCHANGES AND RETURNS</a> -->
            </div>

            <div *ngIf="!hasBeautyAncestor" class="item-specifications">
                <p class="item-color">Colour: <span>{{selectedColor}}</span></p>
                <ul class="item-color-pallete" style="display: flex;">
                    <li [title]="color" *ngFor="let color of availableColors" [ngStyle]="{'background-color': color}" (click)="onColorClick(color)">
                    </li>
                </ul>
                <ul class="item-sizes-grid">
                    <li class="size-item" *ngFor="let size of sizes" [class.disabled]="!isSizeAvailable(size)"
                        [class.active]="selectedSize === size" (click)="onSizeClick($event, size)">
                        <span>{{ size }}</span>
                        <span *ngIf="!isSizeAvailable(size)" class="coming-soon">Coming soon</span>
                    </li>
                </ul>
                <div *ngIf="!hasMeasurements; else measurementTemplate">
                    <a href="" class="find-your-size" (click)="sizeModal.openModal($event)">Find Your Size</a>
                </div>

                <ng-template #measurementTemplate>
                    <p class="recommended-size" (click)="sizeModal.openModal($event)">Your recommended size is {{ lastActiveMeasurement?.sizeValue ?? userMeasurements[userMeasurements.length - 1].sizeValue }}</p>
                </ng-template>

                <!-- <a href="" class="find-your-size" (click)="sizeModal.openModal($event)">Find Your Size</a> -->
                <size-modal #sizeModal></size-modal>

                <!-- <span class="pipe"> | </span>
                <a href="" class="see-measurements">See measurements</a> -->
            </div>

            <button class="btn add-to-cart-btn" (click)="addToCart($event)" [class.custom]="hasBeautyAncestor"
                [class.change-style]="selectedSize">
                {{ isAdding ? 'Adding...' : 'Add' }}
            </button>
        </div>
        <custom-modal [showModal]="showModal" (closeModalEvent)="closeModal()"></custom-modal>
    </div>

    <!-- CartModal -->
    <div class="cart-modal" *ngIf="showCartModal" (click)="closeCartModal()" [ngClass]="{'active': showCartModal}">
        <div class="cart-modal-content">

            <span class="close-btn">×</span>

            <h2>Added to your basket</h2>

            <div class="image-container">
                <div class="image-column">
                    <img src="{{filteredImages[0].imageUrl}}" alt="{{mainProduct?.description}}">
                </div>
                <div class="text-column">
                    <p>{{mainProduct?.name}}</p>
                    <p>Price: {{mainProduct?.price}} EGP</p>
                </div>
            </div>

            <button class="btn basket-btn" (click)="goToCart()">See shopping basket</button>
        </div>
    </div>

    <div class="overlay" (click)="closeAllModals()"
        [class.active]="isStoreSizesModalOpen || isFindSizeModalOpen || showCartModal"></div>

    <!-- Store Sizes Modal -->
    <div class="modal-item" [class.show-modal-item]="isStoreSizesModalOpen">
        <div class="modal-content">
            <span class="close-btn" (click)="isStoreSizesModalOpen = false">&times;</span>
            <h3 class="header">Check in-store availability</h3>
            <p>Choose one or more sizes to check their availability in stores</p>
            <p>What size are you looking for?</p>
            <ul class="modal-store-sizes">
                <li>XS</li>
                <li>S</li>
                <li>M</li>
                <li>L</li>
                <li>XL</li>
                <li>XXL</li>
            </ul>
            <button class="btn check-available-size-btn">
                Check Availability
            </button>
        </div>
    </div>

    <wishlist-notification></wishlist-notification>
</div>

<app-footer></app-footer>