<app-header></app-header>

<div class="grid-container">

    <div class="column col-1">
        <div class="composition-care" [class.scrollable]="isExpanded">
            <div class="content">
                <p>COMPOSITION & CARE</p>
                <p>COMPOSITION</p>
                <p>
                    We work with monitoring programmes to ensure compliance with our social,
                    environmental and health and safety standards for our products. To assess
                    compliance, we have developed a...
                </p>
                <div *ngIf="isExpanded">
                    <p>
                        additional text that would be revealed once the button is clicked. You can
                        continue to add more content as needed, and this content will become scrollable
                        once the button is clicked, allowing users to view all the information.
                    </p>
                    <p>
                        additional text that would be revealed once the button is clicked. You can
                        continue to add more content as needed, and this content will become scrollable
                        once the button is clicked, allowing users to view all the information.
                    </p>
                    <p>
                        additional text that would be revealed once the button is clicked. You can
                        continue to add more content as needed, and this content will become scrollable
                        once the button is clicked, allowing users to view all the information.
                    </p>
                    <p>
                        additional text that would be revealed once the button is clicked. You can
                        continue to add more content as needed, and this content will become scrollable
                        once the button is clicked, allowing users to view all the information.
                    </p>
                </div>
                <div>
                    <button *ngIf="!isExpanded" (click)="toggleContent()" class="view-more-btn">View More</button>
                    <button *ngIf="isExpanded" (click)="toggleContent()" class="view-less-btn">View Less</button>
                </div>
            </div>
        </div>
    </div>

    <div class="column col-2">
        <div class="gallery-container">
            <div class="vertical-gallery-container" #scrollGallery (scroll)="onScroll()">
                <div class="vertical-gallery" #scrollGallery>
                    <img *ngFor="let image of images; let i = index" [src]="image" alt="Product Image"
                        class="gallery-item" [class.active]="activeIndex === i" (click)="setActiveImage(i)" />
                </div>
            </div>

            <div class="thumbnail-container">
                <img *ngFor="let image of images; let i = index" [src]="image" alt="Thumbnail" class="thumbnail"
                    [class.selected]="activeIndex === i" (click)="setActiveImage(i)" />
            </div>
        </div>
    </div>

    <div class="column col-3">
        <div class="item-details-container">

            <div class="item-info">
                <div class="item-header">
                    <p class="item-name">BASIC MEDIUM WEIGHT T-SHIRT</p>
                    <i class="bookmark-icon" (click)="toggleBookmark()"
                        [ngClass]="isBookmarked ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark'"></i>
                </div>
                <p class="item-price">1,090 EGP</p>
                <p class="item-description">Regular fit T-shirt with a round neckline and short sleeves.</p>
                <a href="" class="item-availability" (click)="openStoreSizesModal($event)">Check in-store
                    availability</a><br>
                <a href="" class="item-extra-info">SHIPPING, EXCHANGES AND RETURNS</a>
            </div>

            <div class="item-specifications">
                <p class="item-color">Colour: <span>White</span></p>
                <ul class="item-color-pallete" style="display: flex;">
                    <li style="background-color: lightgoldenrodyellow;"></li>
                    <li style="background-color: lightskyblue;"></li>
                    <li style="background-color: black;"></li>
                    <li style="background-color: lightcyan;"></li>
                    <li style="background-color: lightblue;"></li>
                    <li style="background-color: lightgoldenrodyellow;"></li>
                </ul>
                <ul class="item-sizes-grid">
                    <li class="grid-item">XS</li>
                    <li class="grid-item">S</li>
                    <li class="grid-item">M</li>
                    <li class="grid-item">L</li>
                    <li class="grid-item">XL</li>
                    <li class="grid-item">XXL</li>
                </ul>

                <a href="" class="find-your-size" (click)="sizeModal.openModal($event)">Find Your Size</a>
                <size-modal #sizeModal></size-modal>

                <span class="pipe"> | </span>
                <a href="" class="see-measurements">See measurements</a>
            </div>

            <button class="btn add-to-cart-btn">
                Add
            </button>
        </div>
    </div>

    <div class="overlay" [class.active]="isStoreSizesModalOpen || isFindSizeModalOpen"></div>

    <!-- Store Sizes Modal -->
    <div class="modal-item" [class.show-modal-item]="isStoreSizesModalOpen">
        <div class="modal-content">
            <span class="close-btn" (click)="isStoreSizesModalOpen = false">&times;</span>
            <h3 class="header">Check in-store availability</h3>
            <p>Choose one or more sizes to check their availability in stores</p>
            <p>What size are you looking for?</p>
            <ul class="modal-store-sizes">
                <li>XS</li>
                <li>S</li>
                <li>M</li>
                <li>L</li>
                <li>XL</li>
                <li>XXL</li>
            </ul>
            <button class="btn check-available-size-btn">
                Check Availability
            </button>
        </div>
    </div>

    


</div>

<app-footer></app-footer>