.orders-section {
  margin-left: 150px;
  padding: 20px;
  transition: all 0.8s ease-in-out;
}
.fullTextCon {
  padding: 20px 0px 0px;
  margin-right: 150px;
}
.ContainerText {
  margin: 72px 0px;
}
.SvgPurchases {
  box-sizing: border-box;
  fill: rgb(0, 0, 0);
}

.TextEmpty {
  font-weight: 300;
  font-stretch: 100%;
  line-height: 16px;
  font-family: inherit;
  font-size: 11px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 16px;
}
.TextPay {
  font-stretch: 100%;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 150px;
  margin-left: 0px;
  font-family: inherit;
}
.order-header {
  display: flex;
  justify-content: space-between;
}
.order-info {
  display: flex;
  flex-direction: column;
}

.order-number {
  font-weight: 300;
  font-stretch: 100%;
  line-height: 16px;
  font-family: inherit;
  font-size: 13px;
  padding-bottom: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.order-date {
  font-size: 11px;
  font-weight: 300;
  font-stretch: 100%;
  line-height: 16px;
  font-family: inherit;
  padding-bottom: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: black;
}
.order-status {
  font-size: 11px;
  font-weight: 300;
  font-stretch: 100%;
  line-height: 16px;
  font-family: inherit;
  padding-bottom: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: black;
}
.order-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.order-item {
  flex: 1 1 calc(33.33% - 20px); /* Each item takes up one-third of the width in larger screens */
  max-width: calc(
    33.33% - 20px
  ); /* Max width per item is 1/3 of the container */
  margin-bottom: 20px;
}

.order-card {
  border: 0.8px solid #000;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  text-align: left;
  height: auto;
  min-height: 100px;
}

.order-item-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 20px;
}

.order-item-details {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 12px;
  font-weight: 300;
  font-stretch: 100%;
  line-height: 16px;
  font-family: inherit;
  padding-bottom: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: black;
}

.item-quantity,
.item-price {
  font-size: 11px;
  font-weight: 300;
  font-stretch: 100%;
  line-height: 16px;
  font-family: inherit;
  padding-bottom: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: black;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 300;
  font-stretch: 100%;
  line-height: 16px;
  font-family: inherit;
  padding-bottom: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: black;
}

.order-action-btn {
  background-color: white;
  border: 0.8px solid black;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  font-family: inherit;
  padding-bottom: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.order-action-btn:hover{
    background-color: black;
    color: white;
}

@media (max-width: 1200px) {
  .order-item {
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px);
  }
}
@media (max-width: 1050px) {
  .orders-section {
    margin-left: 90px;
  }
}
@media (max-width: 950px) {
  .orders-section {
    margin-left: 80px;
  }
}
@media (max-width: 850px) {
  .orders-section {
    margin-left: 70px;
  }
}
@media (max-width: 768px) {
  .orders-section {
    margin-left: 60px;
    padding: 10px;
  }
  .order-item {
    flex: 1 1 100%;
  }
  .order-card {
    max-width: 450px;
  }
}
@media (max-width: 650px) {
  .order-item {
    flex: 1 1 100%;
  }
  .order-card {
    max-width: 350px;
  }
}
@media (max-width: 470px) {
  .order-item {
    flex: 1 1 100%;
  }
  .order-card {
    max-width: 250px;
  }
}
