* {
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 16px;
    letter-spacing: 0.8px;
}

p {
    font-size: 1rem;
    margin-bottom: 60px;
    font-weight: lighter;
    color: rgb(53, 49, 49);
}

svg {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}

#container {
    margin: 130px 0;
    display: flex;
    width: 100%
}

.register {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 4em;
}


span {
    color: rgb(51, 50, 50);
    font-size: .7rem;
    width: 60%;
}

.form-input:focus {
    border-bottom: 1px solid rgb(51, 50, 50);
    outline: none;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-unit {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

.form-input {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
    outline: none;
    padding: 0;
    font-size: .9rem;
    background-color: transparent;
}

.form-input::placeholder {
    color: transparent;
}

.input-unit label {

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: black;
    font-size: .8rem;
    transition: all 0.3s ease;
    pointer-events: none;

}

.form-input:focus+label,
.form-input:not(:placeholder-shown)+label {
    top: 0;
    font-size: .7rem;
    color: rgb(51, 50, 50);
    transform: translateY(-100%);
}



.form-message {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 0.8rem;
}

.form-message__icon {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.form-instruction {
    color: black;
}

.form-instruction .form-message__icon {
    fill: black;
}

.form-warning {
    color: #ff0000;
}

.form-warning .form-input {
    border-color: #ff0000;

}

.form-warning span {
    color: #ff0000;
}

.form-warning .form-message__icon {
    fill: #ff0000;
}

.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    /* Sharp angles */
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    /* For positioning the checkmark */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Checkbox checked styles */
.checkbox:checked+.custom-checkbox {
    background-color: black;
    /* Black background when checked */
    border-color: black;
    /* Keep the border black */
}

/* The checkmark when checked */
.checkbox:checked+.custom-checkbox::after {
    content: '';
    /* Empty content to render a checkmark */
    position: absolute;
    left: 3px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    /* White checkmark */
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    /* Rotate to create the checkmark shape */
}

.checkbox-unit {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-bottom: 3em;
    font-size: 6px;
}

.checkbox-unit label {
    margin-left: 30px;
    color: rgb(32, 31, 31);
    font-size: .7rem;

}

.checkbox-label a {
    pointer-events: auto;
    /* Make the link clickable */

    text-decoration: underline;
}

.checkbox-label {
    pointer-events: none;
    /* Disable the pointer events for the label itself */
    width: 60%;
}

a:visited {
    color: rgb(32, 31, 31);
}

.checkbox-label a {
    pointer-events: auto;
    /* Re-enable pointer events for the link inside the label */
}
.btn-register{
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    /* width: 60%; */
    padding: 10px 20px;
    height: 40px;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 30px;
    text-align: center;
  }

@media screen and (max-width: 991px) {
    #container {
        margin-top: 150px;
        flex-direction: column;
        transition: all 2s ease;
        width: 65%;
    }

    .register {
        transition: all 2s ease;
        width: 100%;
    }

    .checkbox-unit,
    .form-inputs {
        margin-bottom: 30px;
        width: 100%;
    }

    .input-unit label {
        font-size: .6rem;
        width: 100%;
    }

    .checkbox-label {

        font-size: .5rem;
    }

    .form-input:focus+label,
    .form-input:not(:placeholder-shown)+label {
        top: 0;
        font-size: .5rem;
        color: black;
        transform: translateY(-100%);
    }

    .form-input-error {

        font-size: 0.6rem;


    }

}

@media screen and (max-width: 480px) {
    #container {
        margin-top: 170px;
        flex-direction: column;
        transition: all 2s ease;
    }

    .register {
        width: 100%;
        transition: all 2s ease;
    }

    .checkbox-unit {
        margin-bottom: 30px;
    }

    .input-unit label {
        font-size: .5rem;
    }

    .checkbox-label {

        font-size: .4rem;
    }

    .form-input:focus+label,
    .form-input:not(:placeholder-shown)+label {
        top: 0;
        font-size: .4rem;
        color: black;
        transform: translateY(-100%);
    }

    .form-input-error {

        font-size: 0.4rem;


    }
}