<app-header></app-header>

<div class="ffdiv">
    <p>What are you looking for?</p>
</div>
<div class="fdiv">
    <button>Peg-leg</button>
    <button>Tracksuit</button>
    <button>Half Zip</button>
    <button>Trousers</button>
    <button>Half Zip</button>
    <button>Jacket</button>
    <button>Dress</button>
    <button>Shoes</button>
    <button>Jeans</button>
    <button>Flare</button>
    <button>White shirt</button>
    <button>Wide-leg jeans</button>
    <button>Backpacks for travelling</button>
    <button>Clothing for practising sport</button>   
</div>
<div class="sdiv">
    <input type="text" placeholder="Search...">
</div>

<app-footer></app-footer>