<app-header></app-header>

<div class="ffdiv">
    <p>What are you looking for?</p>
</div>
<div class="fdiv">
    <button (click)="navigateToFilterSearch2('TOPS ')">TOPS </button>
    <button (click)="navigateToFilterSearch2('BAGS')">BAGS</button>
    <button (click)="navigateToFilterSearch2('SHIRTS')">SHIRTS</button>
    <button (click)="navigateToFilterSearch2('Jacket')">JACKET</button>
    <button (click)="navigateToFilterSearch2('Dress')">DRESS</button>
    <button (click)="navigateToFilterSearch2('Shoes')">SHOES</button>
    <button (click)="navigateToFilterSearch2('Jeans')">JEANS</button>
    <button (click)="navigateToFilterSearch2('CARGO ')">CARGO</button>
    <button (click)="navigateToFilterSearch2('Trousers')">TROUSERS</button>
    <button (click)="navigateToFilterSearch2('White shirt')">WHITE SHIRT</button>
    <button (click)="navigateToFilterSearch2('WAISTCOATS')">WAISTCOATS</button>
    <button (click)="navigateToFilterSearch2('SWEATSHIRTS')">SWEATSHIRTS</button>
    <button (click)="navigateToFilterSearch2('TRACKSUITS')">TRACKSUITS</button>   
</div>
<div class="sdiv">
    <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (keydown.enter)="navigateToFilterSearch()">
</div>

<app-footer></app-footer>
