*{
    line-height: 16px;
    font-family: 'Neue-Helvetica', Helvetica ;
    font-size: 11px;
  }
  .transparent-bg {
    background-color: transparent;
  }
  
  .white-bg {
    background-color: white;
  }
  
  .card {
    border: none;
    box-shadow: none;
    transition: border 0.9s;
  }
  
  #cardtext {
    width: 400px;
    height: 600px;
    border-radius: 0%;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 100px;
  }
  
  body {
    margin: 0;
  }
  
  .sticky-header {
    position: fixed;
    top: 0;
    z-index: 2000;
  }
  
  .white-background {
    background-color: white;
  }
  
  .border-visible {
    border: 0.8px solid black;
  }
  
  .border-hidden {
    border: none;
  }
  
  .card {
    margin: 20px;
  }
  
  .image-gallery img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .sticky-header.white-background {
    background-color: white;
  }
  
  .no-border {
    border: none;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .scrollable-container {
    height: 100vh;
  }
  
  .background-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 200%;
  }
  
  .border-div {
    border: solid black;
    border-width: 0.5px;
    transition: border 0.9s, width 0.9s;
    height: 0px;
    display: none;
  }
  
  .border-visible {
    display: block;
    width: 100%;
  }
  
  .border-hidden {
    display: none;
    width: 0;
  }
  
  #cardtext {
    margin-left: 150px;
    width: 400px;
    height: 600px;
  }
  
  .svgs {
    margin-top: 320px;
    margin-left: 1480px;
    position: fixed;
  }
  
  .svgs2 {
    margin-top: 320px;
    margin-right: 1500px;
    position: fixed;
  }
  
  .layout-categories-category__link {
    font-weight: 350;
  }
  
  .zara-logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-left: 30px;
  }
  
  #section1, #section2, #section3, #section4 {
    height: 100vh;
    background-size: cover;
    width: 100%;
  }
  
  .zds-nav-row__list,
  .zds-nav-row__list-item {
    display: flex;
    justify-content: flex-start;
  }
  
  /* Responsive for tablet devices */
  @media (max-width: 768px) {
    #section1, #section2, #section3, #section4, .border-div {
        height: 50vh;
        background-size: contain;
        background-repeat: no-repeat;
    }
  
    .zds-nav-row__list,
    .zds-nav-row__list-item {
        display: none;
    }
  }
  
  /* Responsive for mobile devices */
  @media (max-width: 400px) {
    #section1, #section2, #section3, #section4, .border-div {
        height: 40vh;
        background-size: cover;
    }
  }
  /* Responsive for mobile devices */
  @media (max-width: 200px) {
    #section1, #section2, #section3, #section4, .border-div {
        height: 20vh;
        background-size: cover;
    }
  }