* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 3em;
    margin-bottom: 10em;
}

h2 {
    margin: 1.5em 0;
    font-size: 16px;
    font-weight: 380;
    letter-spacing: 1.1;
    text-transform: uppercase;
}

.payment-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 40%;
    border: 1px solid lightgray;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.option:not(:last-child) {
    border-right: 1px solid lightgray;
}

.selected {
    border: 1px solid black !important;
    border-color: black;
}

.option img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.option span {
    font-size: 12px;
    text-transform: uppercase;
}

.checkout-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border-top: 0.8px solid black;
    height: 78px;
    transition: all 0.5s linear;
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.terms-acceptance {
    flex: 1;
    display: flex;
    font-size: 8px;
    margin-left: 18px;
    white-space: nowrap;
}

.total-section {
    text-align: right;
    margin-right: 20px;
    flex-direction: column;
    margin-right: 40px;
}

.total-label {
    font-size: 8px;
    line-height: 1;
    color: #666;
}

.asterisk {
    color: #666;
}

.terms-link {
    color: #666;
    text-decoration: underline;

}

.total-row {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.total-label {
    font-size: 11px;
    font-weight: bold;
    color: #000;
    margin-right: 25Px;
}

.total-amount {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.vat-info {
    font-size: 9px;
    color: gray;
    margin-top: 3px;
}

.continue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #e5e5e5;
    border: none;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 78px;
    width: 160px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.continue-button:hover {
    background-color: #333;
}

.continue-button .arrow {
    display: inline-block;
    opacity: 0;
    /* Initially hidden */
    transform: translateX(-20px);
    /* Start off the left side of the button */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    background-color: #000;
    color: #e5e5e5;
}

.continue-button:hover .arrow {
    transform: translateX(0);
    /* Move to the original position */
    opacity: 1;
    /* Fade in */
}

.continue-button .arrow {
    animation: slideInOut 2s forwards;
    animation-delay: 0.5s;
    /* Delay for the arrow to start */
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-container {
    background-color: white;
    padding: 2rem;
    
    text-align: center;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .order-confiremd{
    width: 100px;
    height: 100px;
  }
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .payment-options {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns on smaller screens */
        width: 80%;
        /* Take more space on smaller screens */
    }
}

@media (max-width: 480px) {
    .payment-options {
        grid-template-columns: 1fr;
        /* Stack the divs in one column on very small screens */
        width: 100%;
    }
}