<app-header></app-header>
    <div class="container">
        <nav>
            <div class="nav-icons">
                <button id="shoppingBagBtn" class="nav-icon" [routerLink]="['/shop/cart']">
                    SHOPPING BAG ({{ cartItemsCount }})
                </button>
                <button id="favoritesBtn" class="nav-icon" (click)="toggleFavorite()">
                    <div class="fav">
                        <div [ngClass]="{ 'bold': isFavoriteActive }">
                            FAVOURITES
                        </div>
                        <svg id="favIconheader" preserveAspectRatio="xMidYMid slice" width="24" heigth="24" height="24"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12 15.238L17 20V4H7v16l5-4.762zm-4 2.429l4-3.81 4 3.81V5H8v12.667z"></path>
                        </svg>
                    </div>
                </button>
            </div>
        </nav>
        <nav class="user-name">
            <div id="userName">
                {{userName}}'S List
            </div>
        </nav>
        <div class="content">
            <div class="content1">
                <!-- Show 'Your Basket is Empty' message when cart is empty -->
                <div *ngIf="isWishlistEmpty()" id="shoppingBagMessage" class="message">
                    <svg id="shoppingBagIcon" preserveAspectRatio="xMidYMid slice" width="24"  height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 15.238L17 20V4H7v16l5-4.762zm-4 2.429l4-3.81 4 3.81V5H8v12.667z">
                        </path></svg>
                    <p>You don't have any favorites yet.</p>
                    <p>Save your favourites and share them with anyone you like</p>
                </div>
                <div *ngIf="!isWishlistEmpty()" id="shoppingBagContent">
                    <div class="product-container">
                        <div class="product-card" *ngFor="let product of wishlistItems; let i = index">
                            <div class="product-image" (click)="navigateToProductDetails(product.id)">
                                <!-- Replace with actual product image -->
                                <img [src]="product.imageUrl" alt="Product Image">
                            </div>
                            <div class="product-details">
                                <div class="nameX">
                                    <div class="product-name">{{product.name}}</div>
                                    <div class="svgbtns">
                                        <svg (click)="removeFromWishlist(product)" class="wishlist-icon" preserveAspectRatio="xMidYMid slice" width="24"
                                            heigth="24" height="24" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg" fill="inherit" stroke="inherit">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M12 15.238L17 20V4H7v16l5-4.762z"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="product-price">{{product.price}} EGP</div>
                                <div class="product-info">{{product.description}} </div>
                                <div class="Addbtn">
                                    <button (click)="addToCart(product.id)">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="deletedProduct" class="deletion-message">
                <span id="deletionMessage">The item has been removed from favourites.</span>
                <button (click)="undoDelete()">UNDO</button>
            </div>
                <div *ngIf="addedToCart" class="addedToW-message">
                    <span id="addedToWMessage">item added to your shopping bag</span>
                    <button [routerLink]="['/shop/cart']">VIEW</button>
                </div>
        </div>
    </div>

<app-footer></app-footer>