.product-listing {
    margin-bottom: 2em;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    margin: 0;
    padding: 0;
}


@media (min-width: 576px) {

    /* Small screen */
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 992px) {

    /* Large screen */
    .product-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1200px) {

    /* Extra large screen */
    .product-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}