.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: flex-end; /* Aligns the modal to the right */
    opacity: 0;
    pointer-events: none; /* Prevents interaction when hidden */
    transition: visibility 0s, opacity 0.5s ease;
    z-index: 1000;
}

.modal {
    position: fixed;
    background-color: white;
    width: 500px;
    height: 100%;
    transform: translateX(100%); /* Start off-screen to the right */
    transition: transform 0.5s ease; /* Smooth sliding animation */
    border-left: 1px solid black;
    padding: 20px 0;
    box-sizing: border-box;
    overflow-y: scroll;
    z-index: 1000;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Modal Content */
.modal-content {
    width: 100%;  /* Set modal width */
    max-height: 100vh; /* Set a maximum height */
    overflow-y: auto; /* Enable scroll for overflow content */
}

/* Modal Footer */
.modal-footer {
    width: 100%;
    text-align: center;
}

/* When modal is open, slide it in */
.modal-overlay.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; /* Allow interaction */
}

.modal-overlay.active .modal {
    /* Slide the modal in */
    transform: translateX(0); 
}

/* Modal Close - Slide Out */
.modal-overlay:not(.active) {
    /* Fade out the background */
    opacity: 0; 
    /* Prevent interaction when hidden */
    pointer-events: none; 
}

.modal-overlay:not(.active) .modal {
    /* Slide the modal out smoothly */
    transform: translateX(100%); 
}

.header {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}

.header h2 {
    margin: 1em 0;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    align-self: flex-start;
}

/* Close button */
.close-btn {
    font-size: 30px;
    align-self: flex-end;
    cursor: pointer;
}

.header,
.alert-info,
.search-container {
    margin-bottom: 1em;
}

/* Style the search container */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

/* Alert Info Styling */
.alert-info {
    width: 100%;
    padding: 10px 15px;
    background-color: #f9f9f9;
    text-align: left;
    margin-bottom: 20px;
    font-size: 12px;
    box-sizing: border-box;
    text-transform: none;
}

/* Search Group Styling */
.search-group {
    width: 100%;
}

.search-group form {
    display: flex;
    width: 100%;
    max-width: 600px;
    border: 1px solid black;
    overflow: hidden;
}

/* Search Input Styling */
.search-input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.search-input::placeholder {
    text-transform: uppercase;
}

/* Search Button Styling */
.search-button {
    background-color: #000;
    color: #fff;
    padding: 10px 0px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.search-button:hover {
    color: gray;
}



/* Style the input field */
.search-input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 12px;
    box-sizing: border-box;
}

/* Style the search button */
.search-button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    margin: 0;
    border: none;
    border-left: 1px solid black;
    cursor: pointer;
    font-size: 12px;
    font-family: inherit;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    color: gray;
}


.store-list-container {
    width: 100%;
}

.store-list-container h3 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.8em 1em;
    margin: 0;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
}

.store-item-wrapper li {
    padding: 1.5em;
}

.store-location {
    display: flex;
    align-items: center;
}

.store-location label {
    margin-left: 0.5em;
}

.store-address {
    margin: 0;
    padding: 0;
    margin-left: 27px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    text-align: left;
}

.not-found {
    padding: 1em;
    margin-top: 3em;
}

.not-found-message {
    text-transform: none;
}


.save-btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 1em;
    margin: 7em 0;
    color: white;
    background-color: black;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: inherit;
    font-size: 12px;
    text-transform: uppercase;
}

.save-btn:focus {
    outline: none;
}

.save-btn:hover {
    background-color: rgb(49, 49, 49);
}