*{
    font-weight: 300;
  font-stretch: 100%;
  line-height: 16px;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.ulstyle{
    list-style: none;
     padding: 0; 
     margin-left: 0px;
      display: flex; 
      justify-content: flex-start;
      margin-top: 40px;
      padding-left: 0px;
      cursor: pointer;
}
.sticky-header {
    position: fixed;
    top: 0;
    z-index: 2000;
    margin-left: 120px;
  }
  .sticky-header {
    background-color: transparent;
  }
  li{
    margin-left: 20px;
  }
  .border-div {
    border: solid black;
    border-width: 0.5px;
    transition: border 0.9s, width 0.9s;
    height: 0px;
    display: none;
    z-index: 1000;
    background-size: cover;
    background-position: center
  }
  .white-background {
    background-color: white;
  }
  #div2{
    margin-left: 20px;
    margin-top: 10px; 
    background-color: white;
    border: 0.8 solid black;
    padding-left: 10px;
    z-index: 5000;
    cursor: pointer;
    max-height: 350px;
     overflow-y: auto;
     scrollbar-width: thin; 
     scrollbar-color: black;
     font-weight: 300;
     font-stretch: 100%;
     line-height: 16px;
     font-family: inherit;
     font-size: 8px;
     letter-spacing: 0.8px;
     text-transform: uppercase;
  }
 
/* تخصيص عرض شريط التمرير */
#div2::-webkit-scrollbar {
  width: 2px; /* قم بزيادة العرض */
}

/* تخصيص مسار شريط التمرير */
#div2::-webkit-scrollbar-track {
  background: #000; /* لون المسار الأسود */
  border-radius: 10px;
}

/* تخصيص مؤشر التمرير */
#div2::-webkit-scrollbar-thumb {
  background: #000; /* لون مؤشر التمرير الأسود */
  border-radius: 10px;
}

/* تخصيص لون المؤشر عند التمرير عليه */
#div2::-webkit-scrollbar-thumb:hover {
  background: #333; /* تغيير اللون عند التمرير عليه */
}

  .zara-logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-left: 30px;
    padding-top: 20px;
    padding-left: 10px; 
    z-index: 3000;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .div1{
    margin-left: 150px;
    z-index: 10000;
    position: fixed;

  }
  .frop{
    margin-bottom: 5px; 
    font-weight: 250; 
    color: black;
  }
  .secp{
    margin-bottom: 30px;
     margin-top: 30px;
  }
  a{
    text-decoration: none; 
    color: black;
  }
  