<div class="modal-overlay" *ngIf="isopen" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="characteristics-container">
        <div *ngFor="let characteristic of characteristics" class="characteristic-option" 
             (click)="toggleCharacteristic(characteristic)">
          <button class="btn1" [ngClass]="{'active': selectedCharacteristics.includes(characteristic)}">
            {{ characteristic }}
          </button>
        </div>
      </div>
      <div class="modal-buttons">
        <button class="modal-btn" [disabled]="selectedCharacteristics.length === 0" (click)="clearSelection()">CLEAR</button>
        <button class="modal-btn" (click)="viewResults()">VIEW RESULTS</button>
      </div>
    </div>
  </div>
  