* {
    font-weight: 300;
    line-height: 16px;
    font-family: inherit;
    font-size: 11px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.modal {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 48%; 
    left: 23.5%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: transparent;
    width: 80%;
    max-width: 400px; 
    border: 0.8px solid black;
    height: 180px;

}



.styles-list {
    margin-bottom: 20px; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
}

.btn1 {
    border: 0.8px solid black;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
}



.modal-actions {
    display: flex;
    justify-content: space-between; 
}

button {
    border: 0.8px solid black;
    cursor: pointer;
    color: black;
    width: 100%;
    height: 40px;
    background-color: transparent;
}

button[disabled] {
    cursor: default; 
    color: #ccc;       
}

.btn1.selected {
    font-weight: bold; 
}


