<div class="modal-overlay" *ngIf="isopen" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="material-container">
        <div *ngFor="let material of materials" class="material-option" 
            (click)="toggleMaterial(material)">
          <button class="btn1" [ngClass]="{'active': selectedMaterial.includes(material)}">
            {{ material }}
          </button>
        </div>
      </div>
      <div class="modal-buttons">
        <button class="modal-btn" [disabled]="selectedMaterial.length === 0" (click)="clearSelection()">CLEAR</button>
        <button class="modal-btn" (click)="viewResults()">VIEW RESULTS</button>
      </div>
    </div>
  </div>
  